Repository chesdenis/net-courses-2019, pull requests merged in 2019-08, with the labels that each got.

#157 SQL queries #130
  HW4/Fedushina Daria/SQL queries.sln
  HW4/Fedushina Daria/SQL queries/SQL queries.sqlproj
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.1.1SelectOrders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.1.2SelectOrders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.1.3SelectOrders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.2.1Country.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.2.2Country.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.2.3Country.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.3.1BetweenOrderDetails.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.3.2BetweenCustomers.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.3.3BetweenCustomers.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/1.4.1LikeProducts.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.1.1SumOrderDetails.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.1.2CountOrders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.1.3CountOrders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.2.1GroupByYear.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.2.1Test.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.2.2GroupByEmployee.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.2.3GroupByEmployee.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.2.4GroupByEmployee.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.2.5AllCustomersPerCity.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.2.6EmployeeManager.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.3.1EmployeeJoinRegion.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.3.2CustomersJoinOrders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.4.1SelectSuppliers.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.4.2SelectEmployees.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/2.4.3SelectCustomers.sql
  HW4/Fedushina Daria/SQL queries/dbo/Stored Procedures/Script.PreDeployment1.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Categories.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/CustomerCustomerDemo.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/CustomerDemographics.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Customers.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/EmployeeTerritories.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Employees.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Order Details.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Orders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Products.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Region.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Shippers.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Suppliers.sql
  HW4/Fedushina Daria/SQL queries/dbo/Tables/Territories.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Alphabetical list of products.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Category Sales for 1997.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Current Product List.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Customer and Suppliers by City.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Invoices.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Order Details Extended.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Order Subtotals.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Orders Qry.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Product Sales for 1997.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Products Above Average Price.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Products by Category.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Quarterly Orders.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Sales Totals by Amount.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Sales by Category.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Summary of Sales by Quarter.sql
  HW4/Fedushina Daria/SQL queries/dbo/Views/Summary of Sales by Year.sql
Labels: home task

#149 Northwind SQL Queries
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries.sln
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/NorthwindQueries.sqlproj
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/131-HomeWork4.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/CountOrders1.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/CustOrderHist.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/CustOrdersDetail.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/CustOrdersOrders.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/Employee Sales by Country.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/FEDSelect2.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/FEDSelect3.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/FEDoRDER1.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/FEDoRDER2.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/FEDoRDER3.0.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/FEDoRDER3.1.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/FEDoRDER3.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/Sales by Year.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/SalesByCategory.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/SelectOrders1.1.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Stored Procedures/Ten Most Expensive Products.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Categories.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/CustomerCustomerDemo.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/CustomerDemographics.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Customers.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/EmployeeTerritories.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Employees.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Order Details.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Orders.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Products.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Region.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Shippers.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Suppliers.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Tables/Territories.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Alphabetical list of products.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Category Sales for 1997.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Current Product List.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Customer and Suppliers by City.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Invoices.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Order Details Extended.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Order Subtotals.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Orders Qry.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Product Sales for 1997.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Products Above Average Price.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Products by Category.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Quarterly Orders.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Sales Totals by Amount.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Sales by Category.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Summary of Sales by Quarter.sql
  HW4/Kirill_Uryvaev/NorthwindQueries/NorthwindQueries/dbo/Views/Summary of Sales by Year.sql
Labels: home task

#160 Feature 135 - Added sql queries.
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_1_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_1_2.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_1_3.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_2_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_2_2.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_2_3.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_3_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_3_2.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_3_3.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_1_4_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_1_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_1_2.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_1_3.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_2_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_2_1_check.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_2_2.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_2_3.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_2_4.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_2_5.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_2_6.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_3_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_3_2.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_4_1.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_4_2.sql
  HW4/Artem_Lozhechkin/AVL_Northwind/dbo/Stored Procedures/Proc_2_4_3.sql
Labels: home task

#159 Cheated sql queries
  HW4/Evgeniy_Nikulin/Database1.sln
  HW4/Evgeniy_Nikulin/Database1/Database1.sqlproj
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_1_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_1_2.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_1_3.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_2_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_2_2.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_2_3.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_3_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_3_2.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_3_3.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/1_4_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_1_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_1_2.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_1_3.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_2_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_2_2.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_2_3.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_2_4.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_2_5.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_2_6.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_3_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_3_2.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_4_1.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_4_2.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Stored Procedures/2_4_3.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Categories.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/CustomerCustomerDemo.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/CustomerDemographics.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Customers.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/EmployeeTerritories.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Employees.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Order Details.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Orders.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Products.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Region.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Shippers.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Suppliers.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Tables/Territories.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Alphabetical list of products.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Category Sales for 1997.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Current Product List.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Customer and Suppliers by City.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Invoices.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Order Details Extended.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Order Subtotals.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Orders Qry.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Product Sales for 1997.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Products Above Average Price.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Products by Category.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Quarterly Orders.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Sales Totals by Amount.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Sales by Category.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Summary of Sales by Quarter.sql
  HW4/Evgeniy_Nikulin/Database1/dbo/Views/Summary of Sales by Year.sql
Labels: home task

#162 SQL queries by Foxtra
  HW4/Sergey_Tkachev/MyDatabase/Northwind/dbo/Stored Procedures/ProdceduresByFoxtra.sql
Labels: home task

#203 HW5
  HW5/Аlех_Сhaganоff/Task/Task.sln
  HW5/Аlех_Сhaganоff/Task/Task/App.config
  HW5/Аlех_Сhaganоff/Task/Task/Data/Customer.cs
  HW5/Аlех_Сhaganоff/Task/Task/Data/Customers.xml
  HW5/Аlех_Сhaganоff/Task/Task/Data/DataSource.cs
  HW5/Аlех_Сhaganоff/Task/Task/Data/Order.cs
  HW5/Аlех_Сhaganоff/Task/Task/Data/Product.cs
  HW5/Аlех_Сhaganоff/Task/Task/Data/Supplier.cs
  HW5/Аlех_Сhaganоff/Task/Task/LinqSamples.cs
  HW5/Аlех_Сhaganоff/Task/Task/LinqToSqlSamples.cs
  HW5/Аlех_Сhaganоff/Task/Task/Northwind .dbml
  HW5/Аlех_Сhaganоff/Task/Task/Northwind .dbml.layout
  HW5/Аlех_Сhaganоff/Task/Task/Northwind .designer.cs
  HW5/Аlех_Сhaganоff/Task/Task/ObjectDumper.cs
  HW5/Аlех_Сhaganоff/Task/Task/Program.cs
  HW5/Аlех_Сhaganоff/Task/Task/Properties/AssemblyInfo.cs
  HW5/Аlех_Сhaganоff/Task/Task/Properties/Resources.Designer.cs
  HW5/Аlех_Сhaganоff/Task/Task/Properties/Resources.resx
  HW5/Аlех_Сhaganоff/Task/Task/Properties/Settings.Designer.cs
  HW5/Аlех_Сhaganоff/Task/Task/Properties/Settings.settings
  HW5/Аlех_Сhaganоff/Task/Task/SampleForm.Designer.cs
  HW5/Аlех_Сhaganоff/Task/Task/SampleForm.cs
  HW5/Аlех_Сhaganоff/Task/Task/SampleForm.resx
  HW5/Аlех_Сhaganоff/Task/Task/SampleHarness.cs
  HW5/Аlех_Сhaganоff/Task/Task/Task.csproj
Labels: home task

#202 Feature/169 linq
  HW5/Ivan_Pavlov/Task/LinqQueries.sln
  HW5/Ivan_Pavlov/Task/Task/App.config
  HW5/Ivan_Pavlov/Task/Task/Data/Customer.cs
  HW5/Ivan_Pavlov/Task/Task/Data/Customers.xml
  HW5/Ivan_Pavlov/Task/Task/Data/DataSource.cs
  HW5/Ivan_Pavlov/Task/Task/Data/Order.cs
  HW5/Ivan_Pavlov/Task/Task/Data/Product.cs
  HW5/Ivan_Pavlov/Task/Task/Data/Supplier.cs
  HW5/Ivan_Pavlov/Task/Task/FluentInterface.cs
  HW5/Ivan_Pavlov/Task/Task/LinqQueries.csproj
  HW5/Ivan_Pavlov/Task/Task/LinqSamples.cs
  HW5/Ivan_Pavlov/Task/Task/NorthwindData/NorthwindDb.dbml
  HW5/Ivan_Pavlov/Task/Task/NorthwindData/NorthwindDb.dbml.layout
  HW5/Ivan_Pavlov/Task/Task/NorthwindData/NorthwindDb.designer.cs
  HW5/Ivan_Pavlov/Task/Task/ObjectDumper.cs
  HW5/Ivan_Pavlov/Task/Task/Program.cs
  HW5/Ivan_Pavlov/Task/Task/Properties/AssemblyInfo.cs
  HW5/Ivan_Pavlov/Task/Task/Properties/Resources.Designer.cs
  HW5/Ivan_Pavlov/Task/Task/Properties/Resources.resx
  HW5/Ivan_Pavlov/Task/Task/Properties/Settings.Designer.cs
  HW5/Ivan_Pavlov/Task/Task/Properties/Settings.settings
  HW5/Ivan_Pavlov/Task/Task/SampleForm.Designer.cs
  HW5/Ivan_Pavlov/Task/Task/SampleForm.cs
  HW5/Ivan_Pavlov/Task/Task/SampleForm.resx
  HW5/Ivan_Pavlov/Task/Task/SampleHarness.cs
  HW5/Ivan_Pavlov/Task/Task/packages.config
Labels: home task

#183 Linq queries task
  HW5/Kirill_Uryvaev/Task.sln
  HW5/Kirill_Uryvaev/Task/App.config
  HW5/Kirill_Uryvaev/Task/Data/Customer.cs
  HW5/Kirill_Uryvaev/Task/Data/Customers.xml
  HW5/Kirill_Uryvaev/Task/Data/DataSource.cs
  HW5/Kirill_Uryvaev/Task/Data/Order.cs
  HW5/Kirill_Uryvaev/Task/Data/Product.cs
  HW5/Kirill_Uryvaev/Task/Data/Supplier.cs
  HW5/Kirill_Uryvaev/Task/LinqSamples.cs
  HW5/Kirill_Uryvaev/Task/NorthwindDataClasses.dbml
  HW5/Kirill_Uryvaev/Task/NorthwindDataClasses.dbml.layout
  HW5/Kirill_Uryvaev/Task/NorthwindDataClasses.designer.cs
  HW5/Kirill_Uryvaev/Task/ObjectDumper.cs
  HW5/Kirill_Uryvaev/Task/Program.cs
  HW5/Kirill_Uryvaev/Task/Properties/AssemblyInfo.cs
  HW5/Kirill_Uryvaev/Task/Properties/Resources.Designer.cs
  HW5/Kirill_Uryvaev/Task/Properties/Resources.resx
  HW5/Kirill_Uryvaev/Task/Properties/Settings.Designer.cs
  HW5/Kirill_Uryvaev/Task/Properties/Settings.settings
  HW5/Kirill_Uryvaev/Task/SampleForm.Designer.cs
  HW5/Kirill_Uryvaev/Task/SampleForm.cs
  HW5/Kirill_Uryvaev/Task/SampleForm.resx
  HW5/Kirill_Uryvaev/Task/SampleHarness.cs
  HW5/Kirill_Uryvaev/Task/Task.csproj
Labels: home task

#208 Made linq to xml and linq to sql queries
  HW5/Evgeniy_Nikulin/Task.sln
  HW5/Evgeniy_Nikulin/Task/App.config
  HW5/Evgeniy_Nikulin/Task/Data/Customer.cs
  HW5/Evgeniy_Nikulin/Task/Data/Customers.xml
  HW5/Evgeniy_Nikulin/Task/Data/DataSource.cs
  HW5/Evgeniy_Nikulin/Task/Data/Order.cs
  HW5/Evgeniy_Nikulin/Task/Data/Product.cs
  HW5/Evgeniy_Nikulin/Task/Data/Supplier.cs
  HW5/Evgeniy_Nikulin/Task/LinqSamples.cs
  HW5/Evgeniy_Nikulin/Task/LinqToSqlSamples.cs
  HW5/Evgeniy_Nikulin/Task/Northwind.dbml
  HW5/Evgeniy_Nikulin/Task/Northwind.dbml.layout
  HW5/Evgeniy_Nikulin/Task/Northwind.designer.cs
  HW5/Evgeniy_Nikulin/Task/ObjectDumper.cs
  HW5/Evgeniy_Nikulin/Task/Program.cs
  HW5/Evgeniy_Nikulin/Task/Properties/AssemblyInfo.cs
  HW5/Evgeniy_Nikulin/Task/Properties/Resources.Designer.cs
  HW5/Evgeniy_Nikulin/Task/Properties/Resources.resx
  HW5/Evgeniy_Nikulin/Task/Properties/Settings.Designer.cs
  HW5/Evgeniy_Nikulin/Task/Properties/Settings.settings
  HW5/Evgeniy_Nikulin/Task/SampleForm.Designer.cs
  HW5/Evgeniy_Nikulin/Task/SampleForm.cs
  HW5/Evgeniy_Nikulin/Task/SampleForm.resx
  HW5/Evgeniy_Nikulin/Task/SampleHarness.cs
  HW5/Evgeniy_Nikulin/Task/Task.csproj
Labels: home task

#210 Feature/173 linq queries
  HW5/Milena Laistseva/Task/Task.sln
  HW5/Milena Laistseva/Task/Task/App.config
  HW5/Milena Laistseva/Task/Task/Data/Customer.cs
  HW5/Milena Laistseva/Task/Task/Data/Customers.xml
  HW5/Milena Laistseva/Task/Task/Data/DataSource.cs
  HW5/Milena Laistseva/Task/Task/Data/Order.cs
  HW5/Milena Laistseva/Task/Task/Data/Product.cs
  HW5/Milena Laistseva/Task/Task/Data/Supplier.cs
  HW5/Milena Laistseva/Task/Task/LINQtoSQL.cs
  HW5/Milena Laistseva/Task/Task/LinqSamples.cs
  HW5/Milena Laistseva/Task/Task/NorthwindDatabase.cs
  HW5/Milena Laistseva/Task/Task/NorthwindDatabase.dbml
  HW5/Milena Laistseva/Task/Task/NorthwindDatabase.dbml.layout
  HW5/Milena Laistseva/Task/Task/NorthwindDatabase.designer.cs
  HW5/Milena Laistseva/Task/Task/ObjectDumper.cs
  HW5/Milena Laistseva/Task/Task/Program.cs
  HW5/Milena Laistseva/Task/Task/Properties/AssemblyInfo.cs
  HW5/Milena Laistseva/Task/Task/Properties/Resources.Designer.cs
  HW5/Milena Laistseva/Task/Task/Properties/Resources.resx
  HW5/Milena Laistseva/Task/Task/Properties/Settings.Designer.cs
  HW5/Milena Laistseva/Task/Task/Properties/Settings.settings
  HW5/Milena Laistseva/Task/Task/SampleForm.Designer.cs
  HW5/Milena Laistseva/Task/Task/SampleForm.cs
  HW5/Milena Laistseva/Task/Task/SampleForm.resx
  HW5/Milena Laistseva/Task/Task/SampleHarness.cs
  HW5/Milena Laistseva/Task/Task/Task.csproj
Labels: home task

#205 Feature/178 linq queries
  HW5/Romashov_Mikhail/Task/Task.sln
  HW5/Romashov_Mikhail/Task/Task/App.config
  HW5/Romashov_Mikhail/Task/Task/Data/Customer.cs
  HW5/Romashov_Mikhail/Task/Task/Data/Customers.xml
  HW5/Romashov_Mikhail/Task/Task/Data/DataSource.cs
  HW5/Romashov_Mikhail/Task/Task/Data/Order.cs
  HW5/Romashov_Mikhail/Task/Task/Data/Product.cs
  HW5/Romashov_Mikhail/Task/Task/Data/Supplier.cs
  HW5/Romashov_Mikhail/Task/Task/LinqSamples.cs
  HW5/Romashov_Mikhail/Task/Task/Northwind/NorthwindDB.dbml
  HW5/Romashov_Mikhail/Task/Task/Northwind/NorthwindDB.dbml.layout
  HW5/Romashov_Mikhail/Task/Task/Northwind/NorthwindDB.designer.cs
  HW5/Romashov_Mikhail/Task/Task/ObjectDumper.cs
  HW5/Romashov_Mikhail/Task/Task/Program.cs
  HW5/Romashov_Mikhail/Task/Task/Properties/AssemblyInfo.cs
  HW5/Romashov_Mikhail/Task/Task/Properties/Resources.Designer.cs
  HW5/Romashov_Mikhail/Task/Task/Properties/Resources.resx
  HW5/Romashov_Mikhail/Task/Task/Properties/Settings.Designer.cs
  HW5/Romashov_Mikhail/Task/Task/Properties/Settings.settings
  HW5/Romashov_Mikhail/Task/Task/SampleForm.Designer.cs
  HW5/Romashov_Mikhail/Task/Task/SampleForm.cs
  HW5/Romashov_Mikhail/Task/Task/SampleForm.resx
  HW5/Romashov_Mikhail/Task/Task/SampleHarness.cs
  HW5/Romashov_Mikhail/Task/Task/Task.csproj
Labels: home task

#206 Feature/180 linq queries
  HW5/Roman-Zuev/LINQ queries/Task.sln
  HW5/Roman-Zuev/LINQ queries/Task/App.config
  HW5/Roman-Zuev/LINQ queries/Task/Data/Customer.cs
  HW5/Roman-Zuev/LINQ queries/Task/Data/Customers.xml
  HW5/Roman-Zuev/LINQ queries/Task/Data/DataSource.cs
  HW5/Roman-Zuev/LINQ queries/Task/Data/Northwind.dbml
  HW5/Roman-Zuev/LINQ queries/Task/Data/Northwind.dbml.layout
  HW5/Roman-Zuev/LINQ queries/Task/Data/Northwind.designer.cs
  HW5/Roman-Zuev/LINQ queries/Task/Data/Order.cs
  HW5/Roman-Zuev/LINQ queries/Task/Data/Product.cs
  HW5/Roman-Zuev/LINQ queries/Task/Data/Supplier.cs
  HW5/Roman-Zuev/LINQ queries/Task/LinqSamples.cs
  HW5/Roman-Zuev/LINQ queries/Task/LinqToSqlSamples.cs
  HW5/Roman-Zuev/LINQ queries/Task/ObjectDumper.cs
  HW5/Roman-Zuev/LINQ queries/Task/Program.cs
  HW5/Roman-Zuev/LINQ queries/Task/Properties/AssemblyInfo.cs
  HW5/Roman-Zuev/LINQ queries/Task/Properties/Resources.Designer.cs
  HW5/Roman-Zuev/LINQ queries/Task/Properties/Resources.resx
  HW5/Roman-Zuev/LINQ queries/Task/Properties/Settings.Designer.cs
  HW5/Roman-Zuev/LINQ queries/Task/Properties/Settings.settings
  HW5/Roman-Zuev/LINQ queries/Task/SampleForm.Designer.cs
  HW5/Roman-Zuev/LINQ queries/Task/SampleForm.cs
  HW5/Roman-Zuev/LINQ queries/Task/SampleForm.resx
  HW5/Roman-Zuev/LINQ queries/Task/SampleHarness.cs
  HW5/Roman-Zuev/LINQ queries/Task/Task.csproj
Labels: home task

#215 Feature 176 - LINQ queries
  HW5/Artem_Lozhechkin/Task/Task.sln
  HW5/Artem_Lozhechkin/Task/Task/App.config
  HW5/Artem_Lozhechkin/Task/Task/Data/Customer.cs
  HW5/Artem_Lozhechkin/Task/Task/Data/Customers.xml
  HW5/Artem_Lozhechkin/Task/Task/Data/DataSource.cs
  HW5/Artem_Lozhechkin/Task/Task/Data/Order.cs
  HW5/Artem_Lozhechkin/Task/Task/Data/Product.cs
  HW5/Artem_Lozhechkin/Task/Task/Data/Supplier.cs
  HW5/Artem_Lozhechkin/Task/Task/LinqSamples.cs
  HW5/Artem_Lozhechkin/Task/Task/LinqToSQLSamples.cs
  HW5/Artem_Lozhechkin/Task/Task/NorthwindDB.dbml
  HW5/Artem_Lozhechkin/Task/Task/NorthwindDB.dbml.layout
  HW5/Artem_Lozhechkin/Task/Task/NorthwindDB.designer.cs
  HW5/Artem_Lozhechkin/Task/Task/ObjectDumper.cs
  HW5/Artem_Lozhechkin/Task/Task/Program.cs
  HW5/Artem_Lozhechkin/Task/Task/Properties/AssemblyInfo.cs
  HW5/Artem_Lozhechkin/Task/Task/Properties/Resources.Designer.cs
  HW5/Artem_Lozhechkin/Task/Task/Properties/Resources.resx
  HW5/Artem_Lozhechkin/Task/Task/Properties/Settings.Designer.cs
  HW5/Artem_Lozhechkin/Task/Task/Properties/Settings.settings
  HW5/Artem_Lozhechkin/Task/Task/SampleForm.Designer.cs
  HW5/Artem_Lozhechkin/Task/Task/SampleForm.cs
  HW5/Artem_Lozhechkin/Task/Task/SampleForm.resx
  HW5/Artem_Lozhechkin/Task/Task/SampleHarness.cs
  HW5/Artem_Lozhechkin/Task/Task/Task.csproj
Labels: home task

#204 Feature/181 Linq queries
  HW5/Valeriy_Satkov/Task/Task.sln
  HW5/Valeriy_Satkov/Task/Task/App.config
  HW5/Valeriy_Satkov/Task/Task/Data/Customer.cs
  HW5/Valeriy_Satkov/Task/Task/Data/Customers.xml
  HW5/Valeriy_Satkov/Task/Task/Data/DataSource.cs
  HW5/Valeriy_Satkov/Task/Task/Data/Order.cs
  HW5/Valeriy_Satkov/Task/Task/Data/Product.cs
  HW5/Valeriy_Satkov/Task/Task/Data/Supplier.cs
  HW5/Valeriy_Satkov/Task/Task/LinqSamples.cs
  HW5/Valeriy_Satkov/Task/Task/NorthwindDBDataClasses.dbml
  HW5/Valeriy_Satkov/Task/Task/NorthwindDBDataClasses.dbml.layout
  HW5/Valeriy_Satkov/Task/Task/NorthwindDBDataClasses.designer.cs
  HW5/Valeriy_Satkov/Task/Task/ObjectDumper.cs
  HW5/Valeriy_Satkov/Task/Task/Program.cs
  HW5/Valeriy_Satkov/Task/Task/Properties/AssemblyInfo.cs
  HW5/Valeriy_Satkov/Task/Task/Properties/Resources.Designer.cs
  HW5/Valeriy_Satkov/Task/Task/Properties/Resources.resx
  HW5/Valeriy_Satkov/Task/Task/Properties/Settings.Designer.cs
  HW5/Valeriy_Satkov/Task/Task/Properties/Settings.settings
  HW5/Valeriy_Satkov/Task/Task/SQLLinqQueries.cs
  HW5/Valeriy_Satkov/Task/Task/SampleForm.Designer.cs
  HW5/Valeriy_Satkov/Task/Task/SampleForm.cs
  HW5/Valeriy_Satkov/Task/Task/SampleForm.resx
  HW5/Valeriy_Satkov/Task/Task/SampleHarness.cs
  HW5/Valeriy_Satkov/Task/Task/Task.csproj
Labels: home task

#216 Linq queries by Foxtra
  HW5/Sergey_Tkachev/LinqQueries/Task/Task.sln
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/App.config
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Data/Customer.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Data/Customers.xml
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Data/DataSource.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Data/Order.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Data/Product.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Data/Supplier.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/LinqSamples.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/ObjectDumper.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Program.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Properties/AssemblyInfo.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Properties/Resources.Designer.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Properties/Resources.resx
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Properties/Settings.Designer.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Properties/Settings.settings
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/SampleForm.Designer.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/SampleForm.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/SampleForm.resx
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/SampleHarness.cs
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/Task.csproj
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/northwind.dbml
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/northwind.dbml.layout
  HW5/Sergey_Tkachev/LinqQueries/Task/Task/northwind.designer.cs
Labels: home task

#221 Trading application
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/Properties/AssemblyInfo.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/Tests/ClientServiceTests.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/Tests/ClientSharesServiceTests.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/Tests/ShareServiceTests.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/Tests/TradeValidatorTests.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/Tests/TradingOperationTests.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/Trading.Core.Tests.csproj
  HW6/Kirill_Uryvaev/Trading/Trading.Core.Tests/packages.config
  HW6/Kirill_Uryvaev/Trading/Trading.Core/DataTransferObjects/ClientRegistrationInfo.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/DataTransferObjects/ClientsSharesInfo.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/DataTransferObjects/ShareRegistrationInfo.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Interfaces/IClientService.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Interfaces/IClientsSharesService.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Interfaces/ILogger.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Interfaces/IShareService.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Interfaces/IValidator.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Models/ClientEntity.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Models/ClientsSharesEntity.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Models/ShareEntity.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Properties/AssemblyInfo.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Repositories/IClientRepository.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Repositories/IClientsSharesRepository.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Repositories/IDBTable.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Repositories/IShareRepository.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Services/ClientService.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Services/ClientsSharesService.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Services/ShareService.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Services/TradeValidator.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Services/TradingOperationService.cs
  HW6/Kirill_Uryvaev/Trading/Trading.Core/Trading.Core.csproj
  HW6/Kirill_Uryvaev/Trading/Trading.sln
  HW6/Kirill_Uryvaev/Trading/Trading/App.config
  HW6/Kirill_Uryvaev/Trading/Trading/Interfaces/IIOProvider.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Interfaces/IPhraseProvider.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Program.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Properties/AssemblyInfo.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Repositories/ClientRepository.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Repositories/ClientsSharesRepository.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Repositories/DBTable.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Repositories/ShareRepository.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Resources/Localization/English.json
  HW6/Kirill_Uryvaev/Trading/Trading/Services/ConsoleIOProvider.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Services/JsonPhraseProvider.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Services/Log4netLogger.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Services/TradeSimulator.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Services/TradingDBContext.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Services/TradingInteractiveService.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Services/TradingRegestry.cs
  HW6/Kirill_Uryvaev/Trading/Trading/Trading.ConsoleApp.csproj
  HW6/Kirill_Uryvaev/Trading/Trading/packages.config
Labels: home task

#222 Feature/006 alch trading
  HW6/Аlех_Сhaganоff/HW6/HW6.Tests/App.config
  HW6/Аlех_Сhaganоff/HW6/HW6.Tests/HW6.Tests.csproj
  HW6/Аlех_Сhaganоff/HW6/HW6.Tests/HW6Tests.cs
  HW6/Аlех_Сhaganоff/HW6/HW6.Tests/Properties/AssemblyInfo.cs
  HW6/Аlех_Сhaganоff/HW6/HW6.Tests/packages.config
  HW6/Аlех_Сhaganоff/HW6/HW6.sln
  HW6/Аlех_Сhaganоff/HW6/HW6/App.config
  HW6/Аlех_Сhaganоff/HW6/HW6/App.xaml
  HW6/Аlех_Сhaganоff/HW6/HW6/App.xaml.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Classes/DataInteraction.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Classes/EntityFrameworkContextProvider.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Classes/Logger.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Classes/OutputToStatusTextBox.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Classes/Program.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Classes/Randomizer.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Classes/Simulation.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/DataModel/Portfolio.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/DataModel/Share.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/DataModel/Trader.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/DataModel/Transaction.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/HW6.csproj
  HW6/Аlех_Сhaganоff/HW6/HW6/Interfaces/IContextProvider.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Interfaces/IDataInteraction.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Interfaces/ILogger.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Interfaces/IOutputProvider.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Interfaces/IRandomizer.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Interfaces/ISimulation.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/MainWindow.xaml
  HW6/Аlех_Сhaganоff/HW6/HW6/MainWindow.xaml.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/AssemblyInfo.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/DataSources/HW6.DataModel.Portfolio.datasource
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/DataSources/HW6.DataModel.Share.datasource
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/DataSources/HW6.DataModel.Trader.datasource
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/DataSources/HW6.DataModel.Transaction.datasource
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/Resources.Designer.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/Resources.resx
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/Settings.Designer.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/Properties/Settings.settings
  HW6/Аlех_Сhaganоff/HW6/HW6/Settings.StyleCop
  HW6/Аlех_Сhaganоff/HW6/HW6/TradingContext.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/ViewMainMenu.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/ViewPortfolios.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/ViewTraders.cs
  HW6/Аlех_Сhaganоff/HW6/HW6/packages.config
Labels: home task

#232 Trading application
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp.Data/App.config
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp.Data/Dependencies/TradingSimulatorRegistry.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp.Data/Program.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp.Data/Properties/AssemblyInfo.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp.Data/TradingSimulate.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp.Data/TradingSimulator.ConsoleApp.Simulate.csproj
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp.Data/packages.config
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/App.config
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Components/LoggerService.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Components/Validator.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Dependencies/TradingDataRegistry.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Interfaces/ILogger.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Interfaces/IValidator.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Program.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Properties/AssemblyInfo.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Repositories/BankruptRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Repositories/HistoryTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Repositories/StockTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Repositories/TraderStockTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/Repositories/TraderTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/TradingData.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/TradingDbInitializer.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/TradingSimulation.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/TradingSimulator.ConsoleApp.csproj
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/TradingSimulatorDBContext.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.ConsoleApp/packages.config
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core.Tests/Properties/AssemblyInfo.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core.Tests/SaleServiceTests.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core.Tests/StockServiceTests.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core.Tests/TraderStocksServiceTests.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core.Tests/TradersServiceTests.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core.Tests/TradingSimulator.Core.Tests.csproj
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core.Tests/packages.config
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Dto/BuyArguments.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Dto/StockInfo.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Dto/TraderInfo.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Models/HistoryEntity.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Models/StockEntity.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Models/StockEntityDB.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Models/StockToTraderEntity.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Models/StockToTraderEntityDB.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Models/TraderEntity.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Models/TraderEntityDB.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Repositories/IBankruptRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Repositories/IHistoryTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Repositories/IStockTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Repositories/ITraderStockTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Repositories/ITraderTableRepository.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Services/BankruptService.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Services/SaleService.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Services/StockService.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Services/TraderStocksService.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/Services/TradersService.cs
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.Core/TradingSimulator.Core.csproj
  HW6/Romashov_Mikhail/TradingSimulator/TradingSimulator.sln
Labels: Work finished. ReadyForReview, home task

#234 Feature/190 trading application
  HW6/Artem_Lozhechkin/TradingApp.Core.Tests/Properties/AssemblyInfo.cs
  HW6/Artem_Lozhechkin/TradingApp.Core.Tests/ShareServiceTests.cs
  HW6/Artem_Lozhechkin/TradingApp.Core.Tests/TradersServiceTests.cs
  HW6/Artem_Lozhechkin/TradingApp.Core.Tests/TradingApp.Core.Tests.csproj
  HW6/Artem_Lozhechkin/TradingApp.Core.Tests/TransactionServiceTests.cs
  HW6/Artem_Lozhechkin/TradingApp.Core.Tests/app.config
  HW6/Artem_Lozhechkin/TradingApp.Core.Tests/packages.config
  HW6/Artem_Lozhechkin/TradingApp.Core/DTO/TraderInfo.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Logger.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/LoggingServices/LoggingShareService.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/LoggingServices/LoggingTraderService.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/LoggingServices/LoggingTransactionService.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Models/CompanyEntity.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Models/ShareEntity.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Models/ShareTypeEntity.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Models/StockEntity.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Models/TraderEntity.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Models/TransactionEntity.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Properties/AssemblyInfo.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Repositories/IRepository.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Services/ShareService.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Services/TraderService.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/Services/TransactionService.cs
  HW6/Artem_Lozhechkin/TradingApp.Core/TradingApp.Core.csproj
  HW6/Artem_Lozhechkin/TradingApp.Core/app.config
  HW6/Artem_Lozhechkin/TradingApp.Core/packages.config
  HW6/Artem_Lozhechkin/TradingApp.sln
  HW6/Artem_Lozhechkin/TradingManager/App.config
  HW6/Artem_Lozhechkin/TradingManager/ConsoleManager.cs
  HW6/Artem_Lozhechkin/TradingManager/Program.cs
  HW6/Artem_Lozhechkin/TradingManager/Properties/AssemblyInfo.cs
  HW6/Artem_Lozhechkin/TradingManager/Repositories/CompanyTableRepository.cs
  HW6/Artem_Lozhechkin/TradingManager/Repositories/ShareTableRepository.cs
  HW6/Artem_Lozhechkin/TradingManager/Repositories/ShareTypeTableRepository.cs
  HW6/Artem_Lozhechkin/TradingManager/Repositories/StockTableRepository.cs
  HW6/Artem_Lozhechkin/TradingManager/Repositories/TraderTableRepository.cs
  HW6/Artem_Lozhechkin/TradingManager/Repositories/TransactionTableRepository.cs
  HW6/Artem_Lozhechkin/TradingManager/SeedInitializer.cs
  HW6/Artem_Lozhechkin/TradingManager/TradingApp.ConsoleTradingManager.csproj
  HW6/Artem_Lozhechkin/TradingManager/TradingAppDbContext.cs
  HW6/Artem_Lozhechkin/TradingManager/TradingManagerRegistry.cs
  HW6/Artem_Lozhechkin/TradingManager/packages.config
Labels: Work finished. ReadyForReview, home task

#236 Feature/#188 trading-app
  HW6/Fedushina Daria/TradingApp.Core.Tests/BalancesServiceTests.cs
  HW6/Fedushina Daria/TradingApp.Core.Tests/Properties/AssemblyInfo.cs
  HW6/Fedushina Daria/TradingApp.Core.Tests/StocksServiceTests.cs
  HW6/Fedushina Daria/TradingApp.Core.Tests/TradingApp.Core.Tests.csproj
  HW6/Fedushina Daria/TradingApp.Core.Tests/TransactionServiceTests.cs
  HW6/Fedushina Daria/TradingApp.Core.Tests/UsersServiceTests.cs
  HW6/Fedushina Daria/TradingApp.Core.Tests/ValidationOfTransactionServiceTests.cs
  HW6/Fedushina Daria/TradingApp.Core.Tests/packages.config
  HW6/Fedushina Daria/TradingApp.Core/App.config
  HW6/Fedushina Daria/TradingApp.Core/CustomerStory.txt
  HW6/Fedushina Daria/TradingApp.Core/CustomerStorySchema.drawio
  HW6/Fedushina Daria/TradingApp.Core/Dto/BalanceInfo.cs
  HW6/Fedushina Daria/TradingApp.Core/Dto/StockRegistrationInfo.cs
  HW6/Fedushina Daria/TradingApp.Core/Dto/TransactionInfo.cs
  HW6/Fedushina Daria/TradingApp.Core/Dto/UserRegistrationInfo.cs
  HW6/Fedushina Daria/TradingApp.Core/EntityInitializers/BalanceContextInitializer.cs
  HW6/Fedushina Daria/TradingApp.Core/EntityInitializers/Names.json
  HW6/Fedushina Daria/TradingApp.Core/EntityInitializers/StockContextInitializer.cs
  HW6/Fedushina Daria/TradingApp.Core/EntityInitializers/UserContextInitializer.cs
  HW6/Fedushina Daria/TradingApp.Core/Models/BalanceEntity.cs
  HW6/Fedushina Daria/TradingApp.Core/Models/StockEntity.cs
  HW6/Fedushina Daria/TradingApp.Core/Models/TransactionHistoryEntity.cs
  HW6/Fedushina Daria/TradingApp.Core/Models/UserEntity.cs
  HW6/Fedushina Daria/TradingApp.Core/Names.json
  HW6/Fedushina Daria/TradingApp.Core/Program.cs
  HW6/Fedushina Daria/TradingApp.Core/Properties/AssemblyInfo.cs
  HW6/Fedushina Daria/TradingApp.Core/Repositories/IBalanceTableRepository.cs
  HW6/Fedushina Daria/TradingApp.Core/Repositories/IHistoryTableRepository.cs
  HW6/Fedushina Daria/TradingApp.Core/Repositories/IStockTableRepository.cs
  HW6/Fedushina Daria/TradingApp.Core/Repositories/IUserTableRepository.cs
  HW6/Fedushina Daria/TradingApp.Core/Services/BalancesService.cs
  HW6/Fedushina Daria/TradingApp.Core/Services/StocksService.cs
  HW6/Fedushina Daria/TradingApp.Core/Services/TransactionService.cs
  HW6/Fedushina Daria/TradingApp.Core/Services/UsersService.cs
  HW6/Fedushina Daria/TradingApp.Core/Services/ValidationOfTransactionService.cs
  HW6/Fedushina Daria/TradingApp.Core/TradingApp.Core.csproj
  HW6/Fedushina Daria/TradingApp.Core/TradingApp.sln
  HW6/Fedushina Daria/TradingApp.Core/packages.config
  HW6/Fedushina Daria/TradingConsoleApp/App.config
  HW6/Fedushina Daria/TradingConsoleApp/ContextInitializer.cs
  HW6/Fedushina Daria/TradingConsoleApp/Dependencies/TradingAppRegistry.cs
  HW6/Fedushina Daria/TradingConsoleApp/Instruments/ConsoleIO.cs
  HW6/Fedushina Daria/TradingConsoleApp/Interfaces/IDeviceIO.cs
  HW6/Fedushina Daria/TradingConsoleApp/Logger.cs
  HW6/Fedushina Daria/TradingConsoleApp/Migrations/Configuration.cs
  HW6/Fedushina Daria/TradingConsoleApp/Names.json
  HW6/Fedushina Daria/TradingConsoleApp/Program.cs
  HW6/Fedushina Daria/TradingConsoleApp/Properties/AssemblyInfo.cs
  HW6/Fedushina Daria/TradingConsoleApp/Repositories/BalanceTableRepository.cs
  HW6/Fedushina Daria/TradingConsoleApp/Repositories/HistoryTableRepository.cs
  HW6/Fedushina Daria/TradingConsoleApp/Repositories/StockTableRepository.cs
  HW6/Fedushina Daria/TradingConsoleApp/Repositories/UserTableRepository.cs
  HW6/Fedushina Daria/TradingConsoleApp/Trade.cs
  HW6/Fedushina Daria/TradingConsoleApp/TradingAppDbContext.cs
  HW6/Fedushina Daria/TradingConsoleApp/TradingConsoleApp.csproj
  HW6/Fedushina Daria/TradingConsoleApp/packages.config
Labels: almost done, home task

#231 Trading App by Foxtra
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core.Tests/CheckZoneOfClientsTest.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core.Tests/ClientsServiceTest.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core.Tests/EditClientsStoksTest.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core.Tests/Properties/AssemblyInfo.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core.Tests/TradeServiceTest.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core.Tests/packages.config
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core.Tests/stockSimulator.Core.Tests.csproj
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/DTO/ClientRegistrationInfo.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/DTO/EditStockOfClientInfo.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/DTO/StockRegistrationInfo.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/DTO/TradeInfo.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Models/ClientEntity.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Models/HistoryEntity.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Models/StockEntity.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Models/StockOfClientsEntity.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Repositories/IClientTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Repositories/IStockOfClientsTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Repositories/IStockTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Repositories/ITransactionHistoryTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Services/ClientService.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Services/EditCleintStockService.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Services/StockService.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/Services/TransactionService.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Core/stockSimulator.Core.csproj
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/App.config
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/Dependencies/StockSimulatorRegistry.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/Program.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/Properties/AssemblyInfo.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/Repositories/ClientTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/Repositories/StockOfClientsTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/Repositories/StockTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/Repositories/TransactionHistoryTableRepository.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/StockSimulatorDbContext.cs
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/packages.config
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.Modulation/stockSimulator.Modulation.csproj
  HW6/Sergey_Tkachev/stockSimulator/stockSimulator.sln
Labels: home task
